.container{
    border-bottom: 1px solid gray;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.container:hover{
    background-color: gray;
    color: white;
}
button{
margin-left: 20px;
cursor: pointer;
}
.addBtn{
    height:32px;
    padding: 8px;
background-color: teal;
border: none;
color: white;
border-radius: 5px;
}
.editBtn{
border: none;
background-color: white;
color: teal;
}
.delBtn{
    border: none;
background-color: white;
color: teal;
}
.editBtn:hover{
background-color: gray;
color: white;
}
.delBtn:hover{
    background-color: gray;
    color: white; 
}
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
  }